input:invalid:required,
input:invalid {
	background-color: #afabac;
	border: 2px solid #f07706;
}
/* .img {stre: ;} */
/* #columnleft {
float: left;
  flex: 50%;
  padding: 10px;
  height: 320px; /* Should be removed. Only for demonstration */
  /* html, body {
		height: 100%;
		overflow: hidden;
		margin: 0;
	  }
	  #content {
		height: 100%;
	  } */
	  .row {  
		display: -ms-flexbox; /* IE10 */
		display: flex;
		-ms-flex-wrap: wrap; /* IE10 */
		flex-wrap: wrap;
		height:520px;
	  }
	  
#colleft{
background-color: rgba(63, 62, 62, 0.123)  ;"
  float: left;
  width: 45%;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  padding: .5em;
}

#colright{
	background-color: rgb(247, 239, 231);
	float: left;
	width: 55%;
	height: 100%;
	overflow: auto;
	box-sizing: border-box;
	padding: .5em;
  }


form {
	float: left;
	margin: 20px;
	box-shadow: #00008B;
}
fieldset {
	border: none;
}
legend {
	border-bottom: 2px solid #181817;
	color: #752c0a;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size:28px;
	width: 550px;

}
label {
	display: inline-block;
	padding: 4px;
	text-align: left;
	width: 50px;
}
/* input[type=text],
input[type=password],
input[type=date],
input[type=email],
input[type=number],
input[type=submit],
input[type=button], */

input[type=range] {
	width: 200px;
}
meter {
	height: 20px;
	width: 50px;

input[type=button] {
	background-color: #EFBDB8;
	border-color: #8B0000;
	color: #8b0000;
	cursor:pointer;
	font-weight: bold;
	margin-left: 20px;
	width: 320px;
}